<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting Style Dynamically (without CSS Classes)</title>
    <script src="../js/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div id="app">
    <div class="demo"
         :style="{backgroundColor: color}">
    </div>
    <div class="demo"
         :style="mystyle"></div>
    <div class="demo"></div>
    <label>Color:</label>
    <input type="text" v-model="color">
    <label>Width:</label>
    <input type="text" v-model="width">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            /*attachRed: false,*/
            color: 'gray',
            width: 100
        },
        computed: {
            mystyle: function () {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        }
    });
</script>
</body>
</html>